#travels_container{
    margin: 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
    gap: 35px;
    justify-content: center;

}

.tendences_title{
    text-align: center;
}

.travel_card{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    position: relative;
    overflow: hidden;


}
.travel_card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius:  10px;
}

.card_information{
    display: none;
}

.card_information.show{
    display: flex;
    flex-direction:column;
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    text-shadow: 10px;
}




.travel_card:hover{
    transform: translateY(-10px);
}

#travels_section{
    display: flex;
    justify-content: center;
}
