#travels_container {
    margin: 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
    gap: 35px;
    justify-content: center;

}

.tendences_title {
    text-align: center;
}

.travel_card {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    height: 450px;
}

.card_image {
    width: 100%;
    height: 100%;
}

.card_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card_information {
    display: none;
}

.card_information.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    text-shadow: 10px;
}




.travel_card:hover {
    transform: translateY(-10px);
}

#travels_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}


.tendences{
    width:80%;
    height: 400px;
}

#travels_tendence {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-left: 10%;
    margin-bottom: 20px;
    border: 10px solid orange;
    position: relative;
}


.tendence_btn {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 10;
    pointer-events: none;
}

.tendence_btn button {
    pointer-events: auto;
}

#tendence_card {
    width: 100%;
    height: 100%;
}

#tendence_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}